//colors
$red : #F53838;
$pink : #F53855;
$white : #F8F8F8;
$light-grey : #DDE0E4;
$grey : #4F5665;
$navy-blue : #0B132A;

* {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}
body{
    width: 100% !important;
}

.bg-lightgrey {
    width: 100%;
    height: 100%;
    min-width: 300px !important;
    background-color: $white;
    background-image: linear-gradient(to bottom, rgba(248, 248, 248, 1), #fff);
}

.bg-grey {
    width: 100%;
    height: 100%;
    min-width: 300px !important;
    background-color: #F8F8F8;
}

.wraper {
    max-width: 1140px;
    min-width: 300px;
    margin: 0 auto;

    .nav {
        position: relative;
        font-size: 16px;
        height: 45px;
        margin-top: 45px;

        &__toggler,
        &__signInUp {
            display: none;
        }

        &__logo {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 149px;
            height: 36px;
        }

        &__links {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0 auto;
            text-align: center;
            cursor: pointer;

            a {
                color: $grey;
                letter-spacing: 0;
                text-decoration: none;
                margin: 0 20px;
            }

            &:first-child {
                margin-left: 0 !important;
            }

            &:last-child {
                margin-right: 0 !important;
            }
        }

        &__registration {
            position: absolute;
            top: 0;
            right: 0;

            .nav__signIn {
                position: relative;
                display: inline-grid;
                width: 53px;
                height: 45px;
                margin: 0 15px 0 0;
                font-weight: bold;
                box-sizing: border-box;

                a {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-decoration: none;
                    color: #000;
                }
            }

            .nav__signUp {
                display: inline-grid;
                width: 150px;
                height: 45px;
                margin: 0 0 0 15px;
                border: 1px solid $pink;
                color: $pink;
                text-align: center;
                font-weight: bold;
                box-sizing: border-box;
                border-radius: 50px;
                transition: ease-in-out .2s;

                a {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    color: $pink;
                    border-radius: 50px;

                    span {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                &:hover {
                    background-color: $pink;

                    a {
                        color: #fff;
                    }
                }
            }
        }
    }

    .hero {
        display: grid;
        grid: 382px / auto auto;
        grid-gap: 10px;
        margin: 89px 0;

        &__text {
            height: 100%;
            width: 555px;

            .hero__heading {
                font-size: 50px;
                line-height: 70px;
                color: $navy-blue;
                font-weight: medium;
            }

            .hero__heading--bold {
                font-weight: bold;
            }

            .hero__paragraph {
                color: $grey;
                margin: 20px 0 0 0;
                line-height: 30px;
            }

            .hero__paragraph--medium {
                font-weight: 500;
            }

            .hero__button {
                color: #fff;
                background-color: $red;
                width: 250px;
                height: 60px;
                font-weight: bold;
                box-shadow: 0px 30px 20px -15px rgba(245, 56, 56, .35);
                border-radius: 15px;
                margin-top: 50px;
                border: none;
                transition: .2s ease-in-out;

                &:hover {
                    box-shadow: none;
                    cursor: pointer;
                }

                &:focus {
                    outline: 0;
                }

            }
        }

        &__img {
            width: 611px;
            transform: translateX(67px);
            background-image: url("../img/Illustration\ 1.svg");

        }
    }

    .rectangle {
        display: grid;
        grid: 200px / auto 430px auto;
        width: 1140px;
        box-shadow: 0px 20px 70px -20px rgba($color: #0D1025, $alpha: .1);
        border-radius: 10px;

        &__item {
            position: relative;
            border-right: 1px solid #EEEFF2;
            border-left: 1px solid #EEEFF2;
            margin: 37px 0;

            &:first-child {
                border-left: none;
            }

            &:last-child {
                border-right: none;
            }

            .item__inner {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                img {
                    transform: translateY(7.5px);
                }

                &__info {
                    display: inline-block;
                    margin-left: 36.5px;
                    height: 65px;

                    span {
                        display: block;
                    }

                    .info__title {
                        font-size: 25px;
                        font-weight: bold;
                        color: $navy-blue;
                        line-height: 30px;
                    }

                    .info__desc {
                        font-size: 20px;
                        color: $grey;
                        line-height: 30px;
                    }
                }
            }
        }
    }

    .features {
        display: grid;
        grid: 415px / 508px auto;
        grid-gap: 182px;
        margin: 99px 20px 131px 20px;

        &__img {
            width: 508px;
            background-image: url("../img/Illustration\ 2.svg");
            background-repeat: no-repeat;

        }

        &__text {
            height: 100%;
            padding-top: 50px;

            .features__heading {
                font-size: 35px;
                color: $navy-blue;
                font-weight: 500;
            }

            .features__paragraph {
                color: $grey;
                margin: 20px 0 20px 0;
                line-height: 30px;
            }
        }

        ul {
            list-style-type: none;

            li {
                line-height: 30px;
                margin: 15px 0;

                .features__item {
                    color: #4F5665;
                    font-size: 14px;
                    margin: 0px 0px 0px 10px;
                    transform: translateY(-7px);
                }

                span {
                    display: inline-grid;
                }
            }
        }

    }

    .pricing {
        width: 1090px;
        margin: 0 auto;

        &__title {
            font-size: 35px;
            font-weight: 500;
            color: $navy-blue;
            padding-top: 80.27px !important;
            text-align: center;
        }

        &__paragraph {
            text-align: center;
            color: $grey;
            max-width: 555px;
            margin: 20px auto 0 auto;
        }

        &__cards {
            display: grid;
            grid: 760px / 330px 330px 330px;
            grid-gap: 50px;
            margin-top: 60px;

            .pricing__cards__item {
                position: relative;
                border: 2px solid #DDDDDD;
                background-color: #fff;
                border-radius: 5px;

                .item__img {
                    position: absolute;
                    top: 80px;
                    left: 50%;
                    transform: translateX(-50%);
                }

                .item__title {
                    position: absolute;
                    top: 275px;
                    left: 50%;
                    transform: translateX(-50%);
                    font-weight: 500;
                }

                ul {
                    position: absolute;
                    top: 335px;
                    left: 50%;
                    width: 198px;
                    transform: translateX(-50%);

                    li {
                        color: $grey;
                        font-size: 14px;
                        list-style-type: none;
                        margin: 0 0 5px 0;
                        line-height: 30px;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        span {
                            display: inline-grid;

                            &:last-child {
                                transform: translateY(-8px);
                                margin-left: 20px;
                            }
                        }
                    }
                }

                .item__price {
                    position: absolute;
                    bottom: 115px;
                    left: 50%;
                    transform: translateX(-50%);
                    font-size: 25px;
                    font-weight: 500;
                }

                .item__price--400 {
                    color: $grey;
                    font-weight: 400 !important;
                }

                .item__button {
                    position: absolute;
                    left: 50%;
                    bottom: 50px;
                    height: 45px;
                    width: 177.88px;
                    transform: translateX(-50%);
                    color: $red;
                    background-color: #fff;
                    font-weight: 600;
                    border: 2px solid $red;
                    border-radius: 30px;
                    transition: .2s ease-in-out;

                    &:hover {
                        color: #fff !important;
                        background-color: $red !important;
                        cursor: pointer;
                    }

                    &:focus {
                        outline: 0;
                    }

                }

                .item__button--filled {
                    color: #fff !important;
                    background-color: $red !important;
                    box-shadow: 0 30px 20px -15px rgba($color: $red, $alpha: .35);
                    transition: .2s ease-in-out;

                    &:hover {
                        cursor: pointer;
                        box-shadow: none;
                    }
                }

            }

            .pricing__cards__item--border-red {
                border: 2px solid $red !important;
            }
        }

    }

    .location {
        margin-top: 160px;

        &__title {
            color: $navy-blue;
            font-size: 35px;
            font-weight: 500;
            text-align: center;
            max-width: 383px;
            margin: 0 auto;
        }

        &__paragraph {
            color: $grey;
            max-width: 555px;
            text-align: center;
            line-height: 30px;
            margin: 20px auto 156px auto;
        }

        &__map {
            width: 1060px;
            margin: 0 auto;
        }

        &__sponsored {
            &__img {
                width: 1136px;
                margin: 6px auto 0 auto;
            }
        }
    }
}

.testimonials {
    position: relative;
    width: 100%;
    height: 590px;
    margin: 50px auto 182px;

    &__title {
        color: $navy-blue;
        font-size: 35px;
        font-weight: 500;
        max-width: 447px;
        text-align: center;
        margin: 0 auto;
        line-height: 50px;
    }

    &__paragraph {
        color: $grey;
        text-align: center;
        max-width: 555px;
        line-height: 30px;
        margin: 20px auto 0 auto;
    }

    &__customers {
        position: relative;
        margin-top: 60px;
        display: grid;
        grid: 230px / 400px 400px 400px;
        grid-gap: 50px;
        width: 1300px;
        overflow: hidden !important;
        .customers__card {
            position: relative;
            border: 2px solid #ddd;
            border-radius: 10px;
            padding: 30px;
            transition: .2s ease-in-out;

            &:hover {
                background-color: #fff;
                border: 2px solid $red;
                cursor: pointer;
            }

            .customer {
                position: relative;
                height: 50px;

                &__img {
                    display: inline-grid;
                }

                &__info {
                    position: absolute;
                    top: 50%;
                    left: 70px;
                    transform: translateY(-50%);

                    .customer__info__name {
                        color: $navy-blue;
                        font-size: 18px;
                        font-weight: 500;
                    }

                    .customer__info__location {
                        color: $grey;
                        font-size: 14px;
                    }
                }

                &__rating {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);

                    .customer__rating__icon {
                        display: inline-grid;
                        width: 16px;
                        height: 16px;

                        img {
                            width: 16px;
                            height: 16px;
                        }
                    }

                    .customer__rating__score {
                        height: 16px;
                        width: 24px;
                        color: $navy-blue;
                        display: inline-grid;
                        margin-right: 10px;
                        padding: 0;
                    }
                }

            }

            .review {
                color: $navy-blue;
                line-height: 30px;
                margin-top: 10px;
            }
        }

        .customers__card--active {
            background-color: #fff;
            border: 2px solid $red;
        }
    }

    .controller {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100% !important;
        height: 60px;

        .controller__left {
            position: absolute;
            left: 0;
            top: 50%;
            height: 15px;
            transform: translateY(-50%);

            .controller__dot {
                display: inline-grid;
                width: 15px;
                height: 15px;
                margin: 0 7.5px;
                background-color: $light-grey;
                border-radius: 30px;
                transition: .2s ease-in-out;
                cursor: pointer;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    background-color: $red;
                }

            }

            .controller__dot--active {
                width: 45px;
                background-color: $red;
            }

        }

        .controller__right {
            position: absolute;
            right: 0;
            top: 0;

            .controller__btn {
                position: relative;
                display: inline-grid;
                width: 60px !important;
                height: 60px !important;
                border: 2px solid $red;
                border-radius: 50%;
                margin: 0 10px;
                cursor: pointer;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .controller__btn--filled {
                background-color: $red;
            }
        }
    }
}

.newsletter {
    position: relative;
    width: 1140px;
    height: 233px;
    margin: 0 auto;
    padding: 58.5px 70px;
    border-radius: 10px;
    transform: translateY(-50%);
    background-color: #fff;
    box-shadow: -10px 30px 70px -20px rgba($color: #0D1025, $alpha: .1);

    &__title {
        width: 370px;
        color: $navy-blue;
        font-size: 35px;
        font-weight: 500;
    }

    p {
        width: 410px;
        color: $grey;
        margin-top: 20px;
    }

    &__btn {
        position: absolute;
        top: 50%;
        right: 70px;
        transform: translateY(-50%);
        color: white;
        background-color: $red;
        width: 250px;
        height: 60px;
        border: none;
        border-radius: 10px;
        font-weight: 600;
        box-shadow: 0 30px 30px -15px rgba($color: $red, $alpha: .35);
        transition: .2s ease-in-out;

        &:hover {
            box-shadow: none;
            cursor: pointer;
        }

        &:focus {
            outline: 0;
        }

    }
}

.footer {
    width: 1140px;
    display: grid;
    grid: 280px / 340px auto auto auto;
    grid-gap: 126px;
    margin: -49px auto 0px auto;
    padding-bottom: 100px;

    &__company {
        .footer__company__about {
            color: #4F5665;
            margin-top: 20px;
            line-height: 30px;
        }

        .about--medium {
            font-weight: 500px;
        }

        .footer__company__socials {
            height: 70px;
            width: 220px;
            margin-top: 30px;

            .fb,
            .twitter,
            .ig {
                display: inline-grid;
                width: 70px;
                height: 70px;

                img {
                    width: 100% !important;
                }
            }

        }

        .footer__company__copyrights {
            color: #AFB5C0;
            line-height: 30px;
        }
    }

    &__li {
        display: inline-grid;

        ol {
            list-style-type: none;

            li {
                line-height: 30px;
                margin-bottom: 10px;

                a {
                    color: $grey;
                    text-decoration: none;
                }

                &:first-child {
                    color: #0B132A !important;
                    font-size: 18px;
                    font-weight: 500;
                    margin-bottom: 20px;
                }

            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .d-block {
        display: block !important;
    }

    .nav {
        &__toggler,
        &__signInUp {
            position: absolute;
            top: 50%;
            left: 40px;
            z-index: 999;
            transform: translateY(-50%);
            display: block !important;
        }

        &__logo {
            left: 50% !important;
            transform: translate(-50%, -50%) !important;
            width: 149px;
            height: 36px;
        }

        &__links {
            display: none;
            position: fixed !important;
            top: 0 !important;
            left: 0 !important;
            transform: translateY(0) !important;
            text-align: left;
            height: 100vh;
            width: 175px;
            z-index: 998;
            background-color: rgb(255, 255, 255);
            box-shadow: 20px 20px 40px rgba($color: #000000, $alpha: .1);

            span {
                display: block !important;
                padding: 15px 0;
                border-bottom: 1px solid rgb(216, 216, 216);

                &:first-child {
                    margin-top: 130px;
                }

                &:last-child {
                    border-bottom: none;
                }
            }
        }

        &__registration {
            display: none;
            position: fixed !important;
            top: 0 !important;
            transform: translateY(0) !important;
            height: 100vh;
            background-color: rgb(255, 255, 255);
            width: 175px;
            z-index: 999;
            text-align: center;
            box-shadow: 20px 10px 60px rgba($color: #000000, $alpha: .1);

            .nav__signIn {
                margin: 130px 0 0 0 !important;
                width: 100% !important;
                background-color: rgb(233, 233, 233);

                a {
                    color: rgb(52, 52, 52) !important;
                }
            }

            .nav__signUp {
                position: absolute;
                margin: 0 !important;
                background-color: $pink;
                border-radius: 0 !important;
                width: 100% !important;

                a {
                    color: #fff !important;
                    position: absolute !important;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }

            span {
                display: block !important;
            }
        }

        .nav__signInUp {
            right: 40px !important;
            left: auto !important;
        }
    }

    .hero {
        grid: 382px / 450px 450px !important;
        justify-content: center;

        &__text {
            width: 100% !important;

            .hero__heading {
                font-size: 43px !important;
            }

            .hero__paragraph {
                font-size: 16px !important;
                margin: 10px 0 0 0 !important;
                padding-right: 20px;
            }
        }

        &__img {
            width: 100% !important;
            transform: translateX(0px) !important;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    //
    .rectangle {
        grid: 150px / 275px 350px 275px !important;
        width: 900px !important;
        margin: 0 auto;

        &__item {
            margin: 37px 0;

            .item__inner {

                img {
                    transform: translateY(7.5px);
                }

                &__info {
                    //display: inline-block;
                    margin-left: 20px !important;
                    height: 65px;

                    .info__title {
                        font-size: 20px !important;
                        //font-weight: bold;
                        //color: $navy-blue;
                        //line-height: 30px;
                    }

                    .info__desc {
                        font-size: 16px !important;
                        //line-height: 30px;
                    }
                }
            }
        }
    }

    .features {
        grid: 382px / 450px 450px !important;
        grid-gap: 10px !important;
        justify-content: center;
        margin: 60px 20px !important;

        &__img {
            width: 100% !important;
            background-position: center;
            background-size: contain;
        }

        &__text {
            .features__paragraph {
                margin: 10px 0 !important;
            }
        }

        ul {
            margin-top: 10px;

            li {
                margin: 0 !important;
            }
        }

    }

    .pricing {
        width: 900px !important;

        &__cards {
            grid: 690px / 280px 280px 280px !important;
            grid-gap: 30px !important;
            margin-top: 60px;

            .item__img {
                top: 70px !important;
            }

            .item__title {
                top: 265px !important;
            }

            ul {
                top: 315px !important;
                li {
                    margin: 0 !important;
                }
            }

            .item__price {
                font-size: 20px !important;
            }


        }
    }

    .location {
        //margin-top: 160px;

        &__title {
            font-size: 35px;
            max-width: 383.41px;
        }

        &__paragraph {
            //max-width: 555px;
            //line-height: 30px;
            margin: 20px auto 100px auto !important;
        }

        &__map {
            width: 900px !important;

            img {
                width: 100%;
            }
        }

        &__sponsored {

            .location__sponsored__img {
                width: 900px !important;
                margin: 6.45px auto 0 auto;

                img {
                    width: 100%;
                }
            }
        }
    }

    .testimonials {
        width: 900px !important;
        height: 590px;
        margin: 50px auto 182px;

        &__title {
            font-size: 35px;
            max-width: 447px;
            line-height: 50px;
        }

        &__paragraph {
            max-width: 555px;
            margin: 20px auto 0 auto;
        }

        &__customers {
            margin-top: 60px;
            display: grid;
            grid: 230px / 400px 400px 400px;
            grid-gap: 50px;
            width: 100% !important;

            .customers__card {
                position: relative;
                border: 2px solid #ddd;
                border-radius: 10px;
                padding: 30px;
                transition: .2s ease-in-out;

                &:hover {
                    background-color: #fff;
                    border: 2px solid $red;
                    cursor: pointer;
                }

                .customer {
                    position: relative;
                    height: 50px;

                    &__img {
                        display: inline-grid;
                    }

                    &__info {
                        position: absolute;
                        top: 50%;
                        left: 70px;
                        transform: translateY(-50%);

                        .customer__info__name {
                            color: $navy-blue;
                            font-size: 18px;
                            font-weight: 500;
                        }

                        .customer__info__location {
                            color: $grey;
                            font-size: 14px;
                        }
                    }

                }

                .review {
                    color: $navy-blue;
                    line-height: 30px;
                    margin-top: 10px;
                }
            }

            .customers__card--active {
                background-color: #fff;
                border: 2px solid $red;
            }
        }

        .controller {
            .controller__left {
                .controller__dot {
                    display: inline-grid;
                    width: 15px;
                    height: 15px;
                    margin: 0 7.5px;
                    background-color: $light-grey;
                    border-radius: 30px;
                    transition: .2s ease-in-out;
                    cursor: pointer;

                    &:first-child {
                        margin-left: 0;
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    &:hover {
                        background-color: $red;
                    }

                }

                .controller__dot--active {
                    width: 45px;
                    background-color: $red;
                }

            }

            .controller__right {
                position: absolute;
                right: 0;
                top: 0;

                .controller__btn {
                    position: relative;
                    display: inline-grid;
                    width: 60px !important;
                    height: 60px !important;
                    border: 2px solid $red;
                    border-radius: 50%;
                    margin: 0 10px;
                    cursor: pointer;

                    &:first-child {
                        margin-left: 0;
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

            }
        }
    }

    .newsletter {
        width: 900px !important;

        //padding: 58.5px 70px;
        &__title {
            width: 370px;
            color: $navy-blue;
            font-size: 35px;
            font-weight: 500;
        }

        p {
            width: 410px;
            color: $grey;
            margin-top: 20px;
        }

        &__btn {
            position: absolute;
            top: 50%;
            right: 70px;
            transform: translateY(-50%);
            color: white;
            background-color: $red;
            width: 250px;
            height: 60px;
            border: none;
            border-radius: 10px;
            font-weight: 600;
            box-shadow: 0 30px 30px -15px rgba($color: $red, $alpha: .35);
            transition: .2s ease-in-out;

            &:hover {
                box-shadow: none;
                cursor: pointer;
            }

            &:focus {
                outline: 0;
            }

        }
    }

    .footer {
        width: 900px !important;
        grid: 280px / 325px 90px 130px 130px;
        grid-gap: 75px;

        &__company {
            .footer__company__about {
                margin-top: 20px;
                line-height: 30px;
            }

            .footer__company__socials {
                height: 70px;
                width: 220px;
                margin-top: 30px;

                .fb,
                .twitter,
                .ig {
                    display: inline-grid;
                    width: 70px;
                    height: 70px;

                    img {
                        width: 100% !important;
                    }
                }

            }
        }
    }

}


//do poprawy
@media only screen and (max-width: 950px) {
    .px-5 {
        padding: 0 5rem !important;
    }

    .hero {
        width: 100%;
        grid: 350px 300px / auto auto !important;
        grid-gap: 0 !important;
        justify-content: center !important;
        grid-template-areas:
            "b"
            "a" !important;
        margin: 40px 0 !important;

        &__text {
            order: 2;
            grid-area: a;
            width: 700px !important;
            margin-top: 20px;
            .hero__paragraph {
                margin: 10px 0 0 0 !important;

            }

            .hero__button {
                text-align: center !important;
                width: 250px;
                height: 60px;
                margin: 20px auto 0 auto !important;

            }
        }

        &__img {
            order: 1;
            grid-area: b;
            width: 100% !important;
            transform: translateX(0px) !important;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    .rectangle {
        grid: 150px / 210px 230px 210px !important;
        margin: 50px auto;
        width: 650px !important;
        &__item {
            margin: 37px 0;
            .item__inner {
                img{
                    width: 40px !important;
                    height: 40px !important;
                    transform: translateY(0) !important;
                }
                &__info {
                    margin-left: 5px !important;
                    height: 65px;

                    .info__title {
                        font-size: 18px !important;
                    }

                    .info__desc {
                        font-size: 14px !important;
                    }
                }
            }
        }
    }

    .features {
        grid: 382px 300px / auto !important;
        grid-gap: 10px !important;
        justify-content: center;
        margin: 30px auto !important;
        grid-template-areas:
            "a"
            "b" !important;
        width: 500px;
        &__img {
            grid-area: b;
            width: 100% !important;
            background-position: center;
            background-size: contain;
        }

        &__text {
            grid-area: a;
        }
        

    }
    .pricing {
        width: 100% !important;
        justify-content: center !important;
        margin: 0 auto;
        grid-template-areas:
            "a"
            "b"
            "c" !important;
        &__title {
            font-size: 35px;
            font-weight: 500;
            color: $navy-blue;
            padding-top: 80.27px !important;
            text-align: center;
        }

        &__paragraph {
            text-align: center;
            color: $grey;
            max-width: 555px;
            margin: 20px auto 0 auto;
        }

        &__cards {
            display: grid;
            grid: 630px 670px 700px / 400px !important;
            justify-content: center !important;
            grid-gap: 50px;
            margin-top: 60px;
            margin: 0 auto !important;
            &:nth-child(1){
                grid-area: a;
            }
            &:nth-child(2){
                grid-area: b;
            }
            &:nth-child(3){
                grid-area: c;
            }
            .pricing__cards__item {
                position: relative;
                border: 2px solid #DDDDDD;
                background-color: #fff;
                border-radius: 5px;

                .item__img {
                    position: absolute;
                    top: 80px;
                    left: 50%;
                    transform: translateX(-50%);
                }

                .item__title {
                    position: absolute;
                    top: 275px;
                    left: 50%;
                    transform: translateX(-50%);
                    font-weight: 500;
                }

                ul {
                    position: absolute;
                    top: 335px;
                    left: 50%;
                    width: 198px;
                    transform: translateX(-50%);

                    li {
                        color: $grey;
                        font-size: 14px;
                        list-style-type: none;
                        margin: 0 0 5px 0;
                        line-height: 30px;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        span {
                            display: inline-grid;

                            &:last-child {
                                transform: translateY(-8px);
                                margin-left: 20px;
                            }
                        }
                    }
                }

                .item__price {
                    position: absolute;
                    bottom: 115px;
                    left: 50%;
                    transform: translateX(-50%);
                    font-size: 25px;
                    font-weight: 500;
                }

            }
        }

    }
    .location {
        margin-top: 100px !important;

        &__paragraph {
            margin: 20px auto 50px auto !important;
        }

        &__map {
            width: 700px !important;
        }

        &__sponsored {
            .location__sponsored__img {
                width: 700px !important;
                
            }
        }
    }

    .testimonials {
        width: 700px !important;
        margin: 50px auto 200px auto !important;

    }
    .newsletter {
        position: relative;
        width: 650px !important;
        height: 330px !important;
        padding: 58.5px 70px;
        text-align: center;
        &__title{
            margin: 0 auto;
        }
        p{
            margin: 20px auto 0 auto !important;
        }
        &__btn {
            display: block !important;
            position: absolute !important;
            top: auto !important;
            bottom: 50px;
            left: 50%;
            right: auto;
            transform: translateX(-50%);
            color: white;
            background-color: $red;
            width: 250px;
            height: 60px;
            border: none;
            border-radius: 10px;
    }
    }
    .footer {
        width: 650px !important;
        grid: 280px auto/ auto;
        grid-gap: 75px;
        grid-template-areas:
            "a a a"
            "b c d" !important;
       
        &__company {
            grid-area: a;
        }
        &__li {
            grid-area: b;
            &:nth-child(1){
                grid-area: b;
            }
            &:nth-child(2){
                grid-area: c;
            }
            &:nth-child(3){
                grid-area: d;
            }
        }

    }

}

@media only screen and (max-width: 700px) {
    .px-5 {
        padding: 0 2rem !important;
    }

    .hero {
        grid: 300px 300px / 100% !important;
        justify-content: center !important;
        grid-template-areas:
            "b"
            "a" !important;
        overflow: hidden;
        &__text {
            width: 500px !important;
            margin: 20px auto 0 auto;
            .hero__heading {
                font-size: 35px !important;
                line-height: 50px !important
            }

            .hero__paragraph {
                width: 360px;
                font-size: 14px !important;
                padding: 0 !important;
            }
        }

        &__img {
            order: 1;
            grid-area: b;
            width: 100% !important;
            margin: 0 auto;
        }
    }

    .rectangle {
        grid: 150px 150px 150px/ auto !important;
        width: 80% !important;
        grid-template-areas:
            "a"
            "b"
            "c" !important;
        &__item {
            margin: 37px 0;
            &:nth-child(1){
                grid-area: a;
            }
            &:nth-child(2){
                grid-area: b;
            }
            &:nth-child(3){
                grid-area: c;
            }
            .item__inner {
                width: 120px;
                img{
                    width: 40px !important;
                    height: 40px !important;
                    transform: translateY(0) !important;
                }
                &__info {
                    margin-left: 5px !important;
                    height: 65px;

                    .info__title {
                        font-size: 18px !important;
                    }

                    .info__desc {
                        font-size: 14px !important;
                    }
                }
            }
        }
    } 
    .features{
        width: 270px;
        margin: 0 auto !important;
    }
    .location {
        margin-top: 100px !important;

        &__paragraph {
            margin: 20px auto 50px auto !important;
        }

        &__map {
            width: 90% !important;
        }

        &__sponsored {
            .location__sponsored__img {
                width: 90% !important;
                
            }
        }
    }
    .testimonials {
        width: 90% !important;
        margin: 50px auto 200px auto !important;

    }
    .newsletter {
        position: relative;
        width: 90% !important;
        height: 270px !important;
        padding: 10px 30px !important;
        text-align: center;
        overflow: hidden;
    }
    .footer {
        width: 90% !important;
        grid: 280px auto/ auto;
        grid-gap: 40px;
        grid-template-areas:
            "a a a"
            "b b b"
            "c c c"
            "d d d" !important;
       
        &__company {
            grid-area: a;
        }
        &__li {
            grid-area: b;
            margin: 0 30px;
            &:nth-child(1){
                grid-area: b;
            }
            &:nth-child(2){
                grid-area: c;
            }
            &:nth-child(3){
                grid-area: d;
            }
        }

    }
}

@media only screen and (max-width: 490px){
    .px-5{
        padding: 0 1rem !important;
    }
    .nav{
        &__logo {
            width: 120px !important;
            height: 30px !important;
            img{
                width: 100%;
            }
        }
    }
    .hero {
        grid: 200px auto / 100% !important;
        grid-template-areas:
            "b"
            "a" !important;
        min-height: 500px !important;
        &__text {
            width: 300px !important;
            margin: 20px auto 0 auto !important;
            .hero__heading {
                width: 100%;
                font-size: 25px !important;
                line-height: 40px !important
            }

            .hero__paragraph {
                width: 100%;
                font-size: 14px !important;
                line-height: 25px !important;
            }
            .hero__button {
                text-align: center !important;
                width: 200px !important;
                height: 50px !important;
                margin: 20px auto 0 auto !important;

            }
        }

    }
    .rectangle {
        grid: 90px 90px 90px/ auto !important;
        width: 80% !important;
        grid-template-areas:
            "a"
            "b"
            "c" !important;
    }
    .features{
        .features__heading {
            width: 270px;
            font-size: 20px !important;
            line-height: 30px !important;
            margin: 0 auto;
        }

        .features__paragraph {
            width: 270px;
            margin: 20px 0 20px 0;
            line-height: 30px;
        }
    }
    .pricing {
        width: 270px !important;
        justify-content: center !important;
        margin: 0 auto;
        &__title {
            font-size: 20px !important;
            font-weight: 500;
            color: $navy-blue;
            padding-top: 80.27px !important;
            text-align: center;
        }

        &__paragraph {
            line-height: 30px;
            margin: 10px 0 20px 0 !important;
        }
        &__cards{
            grid: 630px 670px 700px / 290px !important;
        }
    }
    .location{
        margin: 80px 0 !important;
        &__title{
            width: 270px;
            font-size: 20px !important;
        }
        &__paragraph{
            width: 270px;
        }
    }
    .testimonials {
        width: 270px !important;
        margin: 80px auto 200px auto !important;
        &__title{
            font-size: 20px !important;
            line-height: 30px !important;
        }
        .controller{
            width: 100% !important;
            margin: 0 auto !important;
            .controller__left {
                display: none !important;
            }
                
        }
    }
    .newsletter {
        position: relative;
        width: 290px !important;
        height: 250px !important;
        padding: 30px 0px !important;
        overflow: hidden;
        &__title {
            width: 260px;
            color: $navy-blue;
            font-size: 25px !important;
            line-height: 30px !important;
        }

        p {
            width: 250px;
            margin-top: 10px !important;
        }

        &__btn {
            position: absolute;
            top: 75% !important;
            right: 50% !important;
            transform: translate(-50%, -50%);
            color: white;
            background-color: $red;
            width: 200px;
            height: 50px;
            border: none;
            border-radius: 10px;
            font-weight: 600;
            box-shadow: 0 30px 30px -15px rgba($color: $red, $alpha: .35);
            transition: .2s ease-in-out;
        
        }
    }
    .footer {
        width: 270px !important;
        grid: 270px / auto;
    }


}