* {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

.bg-lightgrey {
  width: 100%;
  height: 100%;
  background-color: #F8F8F8;
}

.bg-grey {
  width: 100%;
  height: 100%;
  background-color: #F8F8F8;
}

.wraper {
  min-width: 1140px;
  margin: 0 150px;
}

.wraper .nav {
  position: relative;
  font-size: 16px;
  height: 45px;
  margin-top: 45.62px;
  border: 1px solid blue;
}

.wraper .nav__logo {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 149px;
  height: 36.23px;
}

.wraper .nav__links {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0 auto;
  text-align: center;
}

.wraper .nav__links a {
  color: #4F5665;
  letter-spacing: 0;
  text-decoration: none;
  margin: 0 20px;
}

.wraper .nav__links:first-child {
  margin-left: 0 !important;
}

.wraper .nav__links:last-child {
  margin-right: 0 !important;
}

.wraper .nav__registration {
  position: absolute;
  top: 0;
  right: 0;
}

.wraper .nav__registration .nav__signIn {
  position: relative;
  display: -ms-inline-grid;
  display: inline-grid;
  width: 53px;
  height: 45px;
  margin: 0 15px 0 0;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wraper .nav__registration .nav__signIn a {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-decoration: none;
  color: #000;
}

.wraper .nav__registration .nav__signUp {
  position: relative;
  display: -ms-inline-grid;
  display: inline-grid;
  width: 150px;
  height: 45px;
  margin: 0 0 0 15px;
  border: 1px solid #F53855;
  color: #F53855;
  text-align: center;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  -webkit-transition: ease-in-out .2s;
  transition: ease-in-out .2s;
}

.wraper .nav__registration .nav__signUp a {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-decoration: none;
  color: #F53855;
}

.wraper .nav__registration .nav__signUp:hover {
  background-color: #F53855;
}

.wraper .nav__registration .nav__signUp:hover a {
  color: #fff;
}

.wraper .hero {
  display: -ms-grid;
  display: grid;
  grid: 382.44px / auto auto auto;
  grid-gap: 10px;
  height: 382.44px;
  margin: 88.76px 0;
}

.wraper .hero__text {
  height: 100%;
  border: 1px solid red;
  max-width: 555px;
}

.wraper .hero__text .hero__heading {
  font-size: 50px;
  color: #0B132A;
  font-weight: medium;
}

.wraper .hero__text .hero__heading--bold {
  font-weight: bold;
}

.wraper .hero__text .hero__paragraph {
  color: #4F5665;
  margin: 20px 0 0 0;
  line-height: 1.9;
  border: 1px solid blue;
}

.wraper .hero__text .hero__paragraph--medium {
  font-weight: 500;
}

.wraper .hero__text .hero__button {
  color: #fff;
  background-color: #F53838;
  width: 250px;
  height: 60px;
  font-weight: bold;
  -webkit-box-shadow: 0px 30px 20px -15px rgba(245, 56, 56, 0.35);
          box-shadow: 0px 30px 20px -15px rgba(245, 56, 56, 0.35);
  border-radius: 15px;
  margin-top: 50px;
  border: none;
}

.wraper .hero__img {
  width: 611.24px;
  -webkit-transform: translateX(67px);
          transform: translateX(67px);
  background-image: url("../img/Illustration 1.svg");
  border: 1px solid green;
}

.wraper .rectangle {
  display: -ms-grid;
  display: grid;
  grid: 200px / auto 430px auto;
  min-width: 1140px;
  -webkit-box-shadow: 0px 30px 60px -20px rgba(13, 16, 37, 0.1);
          box-shadow: 0px 30px 60px -20px rgba(13, 16, 37, 0.1);
  border-radius: 10px;
  border: 1px solid black;
}

.wraper .rectangle__item {
  position: relative;
  border: 1px solid red;
  margin: 37.21px 0;
}

.wraper .rectangle__item .item__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid red;
}

.wraper .rectangle__item .item__inner__info {
  display: inline-block;
  margin-left: 36.5px;
  height: 65px;
}

.wraper .rectangle__item .item__inner__info span {
  display: block;
  border: 1px solid orange;
}

.wraper .rectangle__item .item__inner__info .info__title {
  font-size: 25px;
  font-weight: bold;
  color: #0B132A;
}

.wraper .rectangle__item .item__inner__info .info__desc {
  font-size: 20px;
  color: #4F5665;
}

.wraper .features {
  display: -ms-grid;
  display: grid;
  grid: 414.71px / auto auto;
  margin: 98.53px 0 131.19px 0;
}

.wraper .features__img {
  width: 508.12px;
  background-image: url("../img/Illustration 2.svg");
  background-repeat: no-repeat;
  border: 1px solid red;
}

.wraper .features__text {
  height: 100%;
  border: 1px solid red;
  max-width: 427.88px;
}

.wraper .features__text .features__heading {
  font-size: 35px;
  color: #0B132A;
  font-weight: 500;
}

.wraper .features__text .features__paragraph {
  color: #4F5665;
  margin: 20px 0 23px 0;
  line-height: 1.9;
  border: 1px solid blue;
}

.wraper .features ul {
  list-style-type: none;
}

.wraper .features ul li {
  font-size: 14px;
  margin: 10px;
}

.wraper .features ul li .features__item {
  margin-top: 0;
  border: 1px solid red;
}

.wraper .pricing__title {
  font-size: 35px;
  font-weight: 500;
  color: #0B132A;
  padding-top: 80.27px !important;
  text-align: center;
}

.wraper .pricing__paragraph {
  text-align: center;
  color: #4F5665;
  max-width: 555px;
  margin: 20px auto 0 auto;
}

.wraper .pricing__cards {
  display: -ms-grid;
  display: grid;
  grid: 760px / 330px 330px 330px;
  grid-gap: 50px;
  margin-top: 60px;
}

.wraper .pricing__cards .pricing__cards__item {
  position: relative;
  border: 1px solid #DDDDDD;
  background-color: #fff;
  border-radius: 5px;
}

.wraper .pricing__cards .pricing__cards__item .item__img {
  position: absolute;
  top: 79.63px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.wraper .pricing__cards .pricing__cards__item .item__title {
  position: absolute;
  top: 275px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 500;
}

.wraper .pricing__cards .pricing__cards__item ul {
  position: absolute;
  top: 335px;
  left: 50%;
  width: 190.26px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 1px solid green;
}

.wraper .pricing__cards .pricing__cards__item ul li {
  color: #4F5665;
  font-size: 14px;
  list-style-type: none;
  margin: 10px 0;
}

.wraper .pricing__cards .pricing__cards__item .item__price {
  position: absolute;
  bottom: 115px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 25px;
  font-weight: 500;
}

.wraper .pricing__cards .pricing__cards__item .item__price--400 {
  color: #4F5665;
  font-weight: 400 !important;
}

.wraper .pricing__cards .pricing__cards__item .item__button {
  position: absolute;
  left: 50%;
  bottom: 50px;
  height: 45px;
  width: 177.88px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #F53838;
  background-color: #fff;
  font-weight: 600;
  border: 2px solid #F53838;
  border-radius: 30px;
}

.wraper .pricing__cards .pricing__cards__item .item__button--filled {
  color: #fff !important;
  background-color: #F53838 !important;
  -webkit-box-shadow: 0 30px 20px -15px rgba(245, 56, 56, 0.35);
          box-shadow: 0 30px 20px -15px rgba(245, 56, 56, 0.35);
}

.wraper .pricing__cards .pricing__cards__item--border-red {
  border: 2px solid #F53838 !important;
}

.wraper .location {
  margin-top: 160px;
}

.wraper .location__title {
  color: #0B132A;
  font-size: 35px;
  font-weight: 500;
  text-align: center;
  max-width: 383.41px;
  margin: 0 auto;
}

.wraper .location__paragraph {
  color: #4F5665;
  max-width: 555px;
  text-align: center;
  margin: 20px auto 155.81px auto;
}

.wraper .location__map {
  max-width: 1060px;
  margin: 0 auto;
}

.sponsored__img {
  max-width: 1135.64px;
  margin: 6.45px auto;
}

.testimonials {
  position: relative;
  max-width: 1300px;
  width: 100%;
  height: 590px;
  margin: 0 auto;
  border: 1px solid green;
}

.testimonials__title {
  color: #0B132A;
  font-size: 35px;
  font-weight: 500;
  max-width: 447px;
  text-align: center;
  margin: 0 auto;
}

.testimonials__paragraph {
  color: #4F5665;
  text-align: center;
  max-width: 555px;
  margin: 20px auto 0 auto;
}

.testimonials__customers {
  position: relative;
  margin-top: 60px;
  display: -ms-grid;
  display: grid;
  grid: 230px / 400px 400px 400px;
  grid-gap: 50px;
}

.testimonials__customers .customers__card {
  position: relative;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 30px;
}

.testimonials__customers .customers__card .customer {
  position: relative;
  height: 50px;
}

.testimonials__customers .customers__card .customer__img {
  display: -ms-inline-grid;
  display: inline-grid;
}

.testimonials__customers .customers__card .customer__info {
  position: absolute;
  top: 50%;
  left: 70px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.testimonials__customers .customers__card .customer__info .customer__info__name {
  color: #0B132A;
  font-size: 18px;
  font-weight: 500;
}

.testimonials__customers .customers__card .customer__info .customer__info__location {
  color: #4F5665;
  font-size: 14px;
}

.testimonials__customers .customers__card .customer__rating {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.testimonials__customers .customers__card .customer__rating .customer__rating__icon {
  display: -ms-inline-grid;
  display: inline-grid;
  width: 16px;
  height: 16px;
}

.testimonials__customers .customers__card .customer__rating .customer__rating__icon img {
  width: 16px;
  height: 16px;
}

.testimonials__customers .customers__card .customer__rating .customer__rating__score {
  height: 16px;
  width: 24px;
  color: #0B132A;
  display: -ms-inline-grid;
  display: inline-grid;
  margin-right: 10px;
  padding: 0;
}

.testimonials__customers .customers__card .review {
  color: #0B132A;
  line-height: 30px;
  margin-top: 10px;
}

.testimonials .controller {
  position: absolute;
  bottom: 0;
  left: 0;
  border: 1px solid green;
  width: 100%;
  height: 60px;
}

.testimonials .controller .controller__left {
  position: absolute;
  left: 0;
  top: 50%;
  height: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.testimonials .controller .controller__left .controller__dot {
  display: -ms-inline-grid;
  display: inline-grid;
  width: 15px;
  height: 15px;
  margin: 0 7.5px;
  background-color: #DDE0E4;
  border-radius: 30px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  cursor: pointer;
}

.testimonials .controller .controller__left .controller__dot:first-child {
  margin-left: 0;
}

.testimonials .controller .controller__left .controller__dot:last-child {
  margin-right: 0;
}

.testimonials .controller .controller__left .controller__dot:hover {
  background-color: #F53838;
}

.testimonials .controller .controller__left .controller__dot--active {
  width: 45px;
  background-color: #F53838;
}

.testimonials .controller .controller__right {
  position: absolute;
  right: 0;
  top: 0;
}

.testimonials .controller .controller__right .controller__btn {
  position: relative;
  display: -ms-inline-grid;
  display: inline-grid;
  width: 60px !important;
  height: 60px !important;
  border: 2px solid #F53838;
  border-radius: 50%;
  margin: 0 10px;
}

.testimonials .controller .controller__right .controller__btn:first-child {
  margin-left: 0;
}

.testimonials .controller .controller__right .controller__btn:last-child {
  margin-right: 0;
}

.testimonials .controller .controller__right .controller__btn img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.testimonials .controller .controller__right .controller__btn--filled {
  background-color: #F53838;
}

.newsletter {
  position: relative;
  width: 1140px;
  height: 233px;
  border: 1px solid black;
  margin: 62px auto 0 auto;
  padding: 58.5px 70px;
  border-radius: 10px;
}

.newsletter__title {
  width: 370px;
  color: #0B132A;
  font-size: 35px;
  font-weight: 500;
}

.newsletter p {
  width: 410px;
  color: #4F5665;
  margin-top: 20px;
}

.newsletter__btn {
  position: absolute;
  top: 50%;
  right: 70px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: white;
  background-color: #F53838;
  width: 250px;
  height: 60px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  -webkit-box-shadow: 0 30px 30px -15px rgba(245, 56, 56, 0.35);
          box-shadow: 0 30px 30px -15px rgba(245, 56, 56, 0.35);
}

.footer {
  width: 1140px;
  border: 1px solid green;
  display: -ms-grid;
  display: grid;
  grid: 280px / 340px 74px 123px 121px;
  grid-gap: 126px;
  margin: 63px auto 0 auto;
}

.footer__company {
  display: -ms-inline-grid;
  display: inline-grid;
}

.footer__company .footer__company__about {
  margin-top: 20px;
}

.footer__product, .footer__engage, .footer__earnmoney {
  display: -ms-inline-grid;
  display: inline-grid;
  border: 1px solid red;
}

.footer__product ol, .footer__engage ol, .footer__earnmoney ol {
  list-style-type: none;
}
/*# sourceMappingURL=styles.css.map */